
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/styles/site.css" />
</head>
<body>
    <div class="header-site">
        <div class="logo"><a asp-controller="Home" asp-action="Index">Ambulance<span>System</span></a></div>
    </div>
    <div class="container-site">
        <div class="sidebar-site">

        </div>
        <div class="content-site">
            <div class="container">
                @RenderBody()
            </div>
            <footer class="footer-site">
                <div class="container">&copy;Hernán Cote - @DateTime.Now.Year</div>
            </footer>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
