@{ 
    ViewBag.Title = "Ambulances Company";
}

    
        <h1>Ambulances Company</h1>
        <a asp-controller="Ambulance" asp-action="Ambulances" class="btn btn-primary">Go to ambulances list</a>
